/* Camera UI CSS */

/*
  SELECTOR {
    CONTROL
  }

  # : ID
  . : class

  Pseudo-Class
    :link
    :visited
    :hover
    :active
    :focus

  SELECTOR
    * : All
    a, b : a and b
    a b : all b under a
    a > b : all b 1 layer under a
    a + b : nearest b following a
    ab : a && b

  Priority
    Upper line < Lower line
    Before < After
    External file < inline
    Draft < Detail
    !important is highest

  Detail Level
    # = 100
    . = 10
    element = 1

  Color
    name : red, green, blue
    rgb : 0-255, rgb(0, 0, 0)
    hexadecimal : #000 = rgb, #0000000 = rrggbb

  z-index
    larger is upper



*/

html, body {
  background-color: transparent;
  height: 100%;
  margin: 0;
}

p.string {
  color: red;
}

#area {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#top-right-box {
  position: relative;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 2;
}
